astroid==2.9.0
cffi==1.14.5
click==7.1.2
colorama==0.4.4
cryptography==3.4.6
Flask==1.1.2
ictoolkit @ git+https://github.com/IncognitoCoding/ictoolkit.git@3ec4b5ab3d41c5a73d30a29413ee225044c5d2e4
isort==5.10.1
itsdangerous==1.1.0
Jinja2==3.0.3
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
platformdirs==2.4.0
pycodestyle==2.8.0
pycparser==2.20
pylint==2.12.2
PyYAML==5.4.1
toml==0.10.2
typing_extensions==4.0.1
waitress==2.0.0
Werkzeug==1.0.1
wrapt==1.13.3
WTForms==2.3.3
